.svetafor {
    width: 330px;
    height: 1000px;
    background-color: black;
    padding-top: 2rem;
    margin: 0 auto;
}

.svet {
    background: white;
    border-radius: 50%;
    width: 300px;
    margin: 1rem;
    height: 300px;
}

.qizil {
    background: red;
    animation: qizil 1.2s infinite;
}
.sariq {
    background: yellow;
    animation: sariq 1.3s infinite;
}
.yashil {
    background:forestgreen;
    animation: yashil 1.4s infinite;
}
@keyframes qizil {
    from{background:red}
    to{background: black;}
}
@keyframes sariq {
    from{background: yellow;}
    to{background: black;}
}
@keyframes yashil {
    from{background: forestgreen;}
    to{background: black;}
}
