nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.nav-left {
    font-size: 45px;
    color: #426b1f;
    font-weight: 600;
}

.nav-right a {
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-right {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-right button {
    border: none;
    background: #426b1f;
    color: white;
    font-size: 18px;
    width: 125px;
    height: 50px;
    border-radius: 10px;
}
